<div class='container col-xs-8 col-xs-offset-2'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Resend unlock instructions</h3>
    </div>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel-body">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="container">
  <%= render "devise/shared/links" %>
  <br/>
</div>